@import "../index.css";

.canvas-home {
  /* position: absolute; */
  /* top: 90px; */
  /* right: 50px; */
  /* width: 200px; */
  /* height: 500px; */
  /* background-color: rgb(0, 0, 0); */
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  /* height: 100%; */

  /* z-index: 4; */
  /* overflow: hidden; */
}

.canvasChat {
  /* background-color: rgb(25, 24, 32, 0.1); */
  /* background-color: var(--bg-s-third); */
  z-index: 0;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid var(--bg-s-border);
  /* width: 100%;
  height: 100%; */

  /* filter: blur(10px) contrast(30); */
}
