@import "../index.css";

.canvas-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(17, 17, 18);
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 850px) {
    display: none;
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}
