.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  padding-top: 20px;
  z-index: 90 !important;
  @media screen and (max-width: 900px) {
    justify-content: center;
  }
}

.header-left {
  display: flex;
  align-items: center;
  @media (max-width: 700px) {
    display: none;
  }
}

.header-left img {
  width: 33px;
  /* margin-right: 10px; */
  cursor: pointer;
  margin-left: 5px;
}

.header-left input {
  display: flex;
  align-items: center;
  padding: 7px;
  padding-left: 15px;
  border: 1px solid var(--bg-s-third);
  border-radius: 15px;
  background-color: var(--bg-s-third);
  color: var(--text-s-secondary);
  margin-left: 15px;
  /* box-shadow: 10px 10px 25px #171823, -5px -5px 15px #272a39; */
}

.header-center {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-46%);
  gap: 0 20px;
  padding: 3px 20px;
  background-color: var(--bg-s-secondary);
  border-radius: 15px;
  border: 1px solid var(--bg-s-fourth);
  @media screen and (max-width: 900px) {
    transform: translateX(0%);
  }
  /* box-shadow: 10px 10px 25px #171823, -5px -5px 15px #272a39; */
}

.header.center h1 {
  font-size: 1.5rem;
  color: var(--green-color2);
}

.header-right {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 10px;
}

.header-user-img-wrapper {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #2b2b2b;
  border-radius: 15px;
  background-color: var(--bg-s-third);
  border: 3px var(--bg-s-third) solid;
  cursor: pointer;
}

.header-user-img-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

/* .header-user img {
  width: 50px;
  background-color: #2b2b2b;
  border-radius: 15px;
  background-color: var(--bg-s-third);
  border: 3px var(--bg-s-third) solid;
  cursor: pointer;
} */

.user-settings-icon {
  position: absolute;
  bottom: 0;
  left: 29px;
}

.header-right button:hover {
  background-color: var(--green-color2);
}

.header-right button:active {
  background-color: var(--green-color2);
}

.header-right button:focus {
  outline: none;
}

.user-header-menu {
  display: none;
  position: absolute;
  /* right: 10px; */
  top: 49px;
  right: 0px;
  background-color: var(--bg-s-secondary);
  border-radius: 15px;
  padding: 10px;
  width: 200px;
  z-index: 1;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid var(--bg-s-fourth);
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  border-radius: 15px;
  margin: 5px 0;
  cursor: pointer;
}

.menu-item h3 {
  color: var(--text-pri);
}
.menu-item:hover {
  background-color: var(--bg-s-fourth);
}
.user-header-menu {
}
.user-header-menu h1 {
  display: block;
  border-top: 2px solid var(--color-input-border);
  padding-top: 5px;
  margin-top: 15px;
  font-size: 1.2rem;
  color: var(--color-primary);
  text-align: center;
  cursor: pointer;
}

.show-user-header-menu {
  display: block;
}
.logout-btn-header {
  background-color: var(--bg-s-secondary);
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
  color: var(--text-pri);
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  transition: 0.3s;
  border: none !important;
}

.logout-btn-header:hover {
  background-color: var(--bg-s-fourth);
  /* border: none; */
}
