@import "../index.css";

.home {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 100vh;
  padding: 10px;
}

.left,
.center,
.right {
  margin: 17px;
  margin-top: 8px;
  border-radius: 15px;
  padding: 5px 0;
  padding-top: 2px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  /* justify-content: center; */
  /* background-color: aliceblue; */
  /* width: 200px; */
}

/* left */

.user-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 100%;
  background-color: var(--bg-s-secondary);
  border-radius: 15px;
  border: 1px solid var(--bg-s-third);
  overflow: hidden;
}

.cover {
  position: relative;
  height: 137px;
  width: 100%;
  background-color: var(--bg-s-third);
}

.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.cover .options {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 15px;
  background-color: var(--bg-s-secondary);
  color: var(--color-secondary);
  font-size: 1.1rem;
  cursor: pointer;
}

.exit {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  /* padding: 10px; */
  border: none;
  border-radius: 15px;
  background-color: var(--bg-s-third);
  color: var(--color-secondary);
  /* font-size: 1.1rem; */
  cursor: pointer;
}

.user-img {
  position: absolute;
  top: 100px;
  width: 5.4vw;
  height: 5.4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  /* background-color: rgb(22, 26, 39); */
  border-radius: 15px;
}

.user-head {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 80px;
  gap: 0 7vw;
  padding: 15px 0;
  border-radius: 10px;
  margin-bottom: 10px;
}

.user-img img {
  width: 5.4vw;
  height: 5.4vw;
  border-radius: 30%;
  object-fit: cover;
  background-color: var(--bg-s-fourth);
  /* border: 5px #1d1d1d solid; */
  border: 5px var(--bg-s-fourth) solid;
  cursor: pointer;
  margin-bottom: 10px;
}

.followers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-pri);
  font-size: 0.9vw;
  margin-right: 5px;
  cursor: pointer;
}
.following {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-pri);
  font-size: 0.9vw;
  cursor: pointer;
}
.followers p {
  color: var(--text-s-secondary);
  padding-top: 4px;
  font-size: 0.6vw;
}
.following p {
  color: var(--text-s-secondary);
  padding-top: 4px;
  font-size: 0.6vw;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  width: 100%;
  border-radius: 10px;
}

.user-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 90px;
  gap: 10px 0;
  height: 100%;
  /* width: 100%; */
  text-align: center;
  /* border-radius: 10px; */
}

.user-body h1 {
  color: var(--text-pri);
  font-size: 1.5rem;
}

.user-body p {
  /* color: #8a8a8a; */
  color: var(--text-s-secondary);
  /* color: var(--color-primary); */
  font-size: 0.9rem;
}

.bio {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-wrap: break-word;
  flex-wrap: wrap;
  width: 15vw;
  padding-top: 4px;
}

.user-body h3 {
  color: var(--text-pri);
  font-size: 1rem;
  text-align: center;
}

.user-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* gap: 0 15px; */
  padding: 14px 0;
  border-top: 2px solid var(--bg-s-third);
  margin-top: 25px;
}

.user-footer button {
  width: 100%;
  padding: 8px;
  /* margin: 7.5px 0; */
  border: none;
  border-radius: 15px;
  background-color: var(--bg-s-third);
  /* color: #000000; */
  /* color: var(--text-s-secondary); */
  color: var(--color-secondary);
  font-size: 1.4rem;
  font-family: var(--font-logo);
  font-weight: 100;
  cursor: pointer;
}

.communities-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 20px;
  color: var(--text-s-primary);
  color: var(--color-secondary);
  font-size: 1rem;
  border-radius: 15px;
  padding: 15px;
  border: 5px var(--bg-s-secondary) solid;
  font-weight: 600;
  overflow-y: hidden;
}

.communities-container p {
  color: var(--text-s-primary);
  color: var(--color-secondary);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.communities {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */

  /* align-items: start; */
  /* gap: 5px; */
  height: 100%;
  /* padding: 10px; */
  overflow: hidden;
  overflow-x: hidden;
}

.communites-scroll {
  overflow: scroll;
  overflow-x: hidden;
}

.community {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0 15px;
  padding: 5px 0;
  /* border-radius: 15px; */
  border-bottom: 2px solid var(--bg-s-secondary);
  cursor: pointer;
}

.community h1 {
  color: var(--text-pri);
  font-size: 1.2rem;
}

.community img {
  width: 50px;
  height: 50px;
  border-radius: 30%;
  background-color: var(--bg-s-fourth);
  border: 5px var(--bg-s-third) solid;
}

.community-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
  height: 4px;
}

.community h1 {
  color: var(--text-s-primary);
  font-size: 0.9rem;
}

.community p {
  color: var(--text-s-secondary);
  font-size: 0.73rem;
}

.center {
  display: flex;
  flex-direction: column;
  gap: 17px 0;
  /* align-items: center; */
}

.post {
  position: relative;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  width: 100%;
  padding: 7px 13px;
  padding-bottom: 10px;
  /* margin-top: 20px; */
  background-color: var(--bg-s-secondary);
  border-radius: 15px;
  gap: 4px 0;
  border: 1px solid var(--bg-s-third);
}

.post-new-button {
  text-align: left;
  width: 100%;
  gap: 0 10px;
  padding: 10px;
  border-radius: 15px;
  background-color: var(--bg-s-third);
  cursor: pointer;
  border: 2px solid rgba(125, 162, 56, 0.284);
  color: var(--text-s-secondary);
}

.post-input-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 15px;
}

.post-send-icon {
  position: absolute;
  right: 25px;
  top: 20px;
  font-size: 1.2rem;
  cursor: pointer;
}

.post-input-img img {
  width: 40px;
  margin: 0 5px;
  object-fit: cover;
  border-radius: 15px;
  background-color: var(--bg-s-fourth);
  border: 3px var(--bg-s-fourth) solid;
}
.post-input-img input {
  width: 95%;
  padding: 8px 13px;
  /* margin: 7.5px 0; */
  border: none;
  border-radius: 15px;
  background-color: var(--bg-s-fourth);
  border: var(--bg-s-third) 1px solid;
  color: #fff;
}

.post-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0 10px;
  /* padding: 10px; */
}

.post-options {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 25px;
  padding-left: 66px;
  align-items: center;
  gap: 0 15px;
}

.post-option {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--bg-s-fourth);
  border-radius: 15px;
  gap: 0 8px;
  padding: 5px 15px;
  cursor: pointer;
}

.post-option h1 {
  color: var(--text-s-secondary);
  font-size: 0.9rem;
  font-weight: 500;
}

.feed {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* width: 500px; */
  height: 100%;
  border-radius: 15px;
  gap: 15px 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

.feed-scrollable {
  overflow: scroll;
  overflow-x: hidden;
}

.feed-post {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px 0;
  padding: 15px 15px;
  padding-bottom: 9px;
  border-radius: 15px;
  background-color: var(--bg-s-secondary);
  border: 1px solid var(--bg-s-third);
}

.feed-post-header {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0 15px;
}
.feed-post-header-img {
  display: flex;
  justify-content: start;
  align-items: start;
}
.feed-post-header-img img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 15px;
  background-color: var(--bg-s-fourth);
  border: 3px var(--bg-s-fourth) solid;
  cursor: pointer;
}

.feed-post-header-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 15px;
}

.feed-post-header-info-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5px 0;
}

.feed-post-header-info-name h1 {
  color: var(--text-pri);
  font-size: 1.4rem;
  cursor: pointer;
}

.feed-post-header-info-name p {
  color: var(--text-s-secondary);
  font-size: 0.8rem;
}

.post-follow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
  margin-top: 5px;
  margin-right: 50px;
  padding: 5px 15px;
  border-radius: 15px;
  border: none;
  background-color: var(--bg-s-fourth);
  color: var(--color-secondary);
  font-size: 1rem;
  cursor: pointer;
}

.post-on-options {
  position: absolute;
  top: 2px;
  right: 0;
  border: none;
  border-radius: 15px;
  /* background-color: var(--bg-s-fourth); */
  /* color: var(--color-secondary); */
  margin-top: 5px;
}

.feed-post-body {
  color: var(--text-s-primary);
  display: flex;
  width: 100%;
  margin-top: 5px;
  padding: 0 5px;
}
.feed-post-body p {
  line-height: 1.3;
  font-size: 1.1rem;
  font-weight: 400;
}

.feed-post-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin: 5px 0;

  /* padding: 20px; */
}
.feed-post-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  /* height: auto; */
  /* border-radius: 15px; */
  background-color: var(--bg-s-fourth);
  object-fit: contain;
  cursor: pointer;
  border-radius: 5px;
}

.feed-post-footer {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0 15px;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  /* border-bottom: var(--bg-s-third) 2px solid; */
}

.post-save {
  position: absolute;
  right: 0;
  margin-right: 5px;
  color: var(--color-secondary);
  font-size: 1.2rem;
  cursor: pointer;
}

.feed-post-comments {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0 15px;
  /* gap: 10px; */
  /* padding: 10px; */
}

.feed-post-comments img {
  width: 40px;
  border-radius: 30%;
  background-color: var(--bg-s-fourth);
  border: 3px var(--bg-s-fourth) solid;
}
.feed-post-comments input {
  width: 95%;
  padding: 12px;
  margin: 7.5px 0;
  border: none;
  border-radius: 15px;
  background-color: var(--bg-s-third);
  border: var(--bg-s-third) 1px solid;
  color: #fff;
}
.picture-comment {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: none;
  border-radius: 15px;
  font-size: 1.2rem;
  cursor: pointer;
  right: 10px;
}

.comment-send-icon {
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 30px 0;
  /* justify-content: center; */
  /* align-items: center; */
  /* background-color: var(--bg-s-secondary); */
}

.home-activity {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  gap: 10px;
  padding: 10px;
  border-radius: 15px;
  background-color: var(--bg-s-secondary);
  border: 1px solid var(--bg-s-third);
}

.activity-header {
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  gap: 0 10px;
  padding: 10px;
  border-radius: 15px;
  background-color: var(--bg-s-secondary);
}

.activity-header h1 {
  color: var(--color-secondary);
  font-size: 1rem;
}

.activity-header button {
  position: absolute;
  right: 20px;
  padding: 5px 15px;
  border: none;
  border-radius: 15px;
  background-color: var(--bg-s-primary);
  color: var(--color-secondary);
  font-size: 1rem;
  cursor: pointer;
}

.activity-body-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  gap: 10px 0;
  overflow: hidden;
  overflow-x: hidden;
}

.activity-scrollable {
  overflow: scroll;
  overflow-x: hidden;
}

.activity-card {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0 5px;
  border-radius: 15px;
  background-color: var(--bg-s-fourth);
  margin: 0 10px;
}

.activity-card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

.activity-card-img img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 30%;
  background-color: #222222;
  border: 5px #1d1d1d solid;
}

.activity-card-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  /* gap: 5px 0; */
}

.activity-card-info h1 {
  color: var(--text-s-primary);
  font-size: 1.2rem;
}

.activity-card-info p {
  color: var(--text-s-secondary);
  font-size: 0.8rem;
}

.activity-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0 15px;
  padding: 10px;
  border-top: 2px solid var(--bg-s-fourth);
}

.activity-footer button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: var(--bg-s-fourth);
  color: var(--color-secondary);
  font-size: 1.1rem;
  cursor: pointer;
}

.home-messages {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 55vh;
  gap: 10px;
  padding: 10px;
  border-radius: 15px;
  background-color: var(--bg-s-secondary);
}

.messages-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
  padding: 10px;
  border-radius: 15px;
  background-color: var(--bg-s-secondary);
}

.messages-header h1 {
  color: var(--color-secondary);
  font-size: 1.1rem;
}

.messages-header button {
  padding: 5px 15px;
  border: none;
  border-radius: 15px;
  background-color: var(--bg-s-primary);
  color: var(--color-secondary);
  font-size: 1rem;
  cursor: pointer;
}

.messages-body-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  gap: 10px 0;
  overflow: hidden;
  overflow-x: hidden;
}

.messages-scrollable {
  overflow: scroll;
  overflow-x: hidden;
}

.message-card {
  display: flex;
  justify-content: start;
  align-items: center;
  /* gap: 0 15px; */
  border-radius: 15px;
  background-color: var(--bg-s-fourth);
  margin: 0 10px;
}

.message-card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.message-card-img img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 30%;
  background-color: #222222;
  border: 5px #1d1d1d solid;
}

.message-card-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 5px;
  /* gap: 5px 0; */
}
.message-card-info h1 {
  color: var(--text-s-primary);
  font-size: 1.3rem;
}

.message-card-info p {
  color: var(--text-s-secondary);
  font-size: 0.95rem;
}

.messages-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0 15px;
  padding: 10px;
  border-top: 2px solid var(--bg-s-fourth);
}
.messages-footer button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: var(--bg-s-fourth);
  color: var(--color-secondary);
  font-size: 1.1rem;
  cursor: pointer;
}

/* .slide-box input::-moz-range-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--color-primary);
  border: none;
  border-radius: 50%;
  cursor: pointer;
} */

@supports (not selector(::-webkit-slider-thumb)) {
  .slide-box input::-moz-range-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--color-primary);
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
}

.slide-box input::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--color-primary);
  border-radius: 50%;
  cursor: pointer;
}
.slide-box span {
  color: var(--color-secondary);
  font-size: 1.1rem;
  font-weight: 900;
  width: 20px;
  margin-right: 2px;
}

.slyder-show {
  display: flex;
}

.feed {
  position: relative;
}

.resize-column {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1px;
  height: 80vh;
  cursor: ew-resize;
  margin-top: 50px;
}

.quick-access {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  gap: 10px 0;
  padding: 15px;
  border-radius: 15px;
  border: 5px solid var(--bg-s-secondary);
  /* background-color: var(--bg-s-secondary); */
}

.quick-access-header h1 {
  color: var(--color-secondary);
  font-size: 1.1rem;
  font-weight: 900;
  margin-bottom: 10px;
}

.quick-access-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.quick-access-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 15px;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: var(--bg-s-fourth);
  margin: 0 10px;
  cursor: pointer;
}

.quick-access-card h1 {
  color: var(--text-s-secondary);
  font-size: 1.1rem;
}
.post-menu-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  width: 170px;
  right: 5px;
  top: 30px;
  padding: 10px;
  border-radius: 15px;
  background-color: var(--bg-s-fourth);
  border: 1px solid var(--bg-s-third);
  z-index: 1;
}

.post-menu-option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
  padding: 5px 10px;
  border-radius: 15px;
  cursor: pointer;
}

.post-menu-option p {
  color: var(--text-pri);
  font-size: 1.1rem;
}

.post-preveiw-container {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  gap: 10px;
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(19, 21, 32, 0.9);
  z-index: 5;
}

.post-preveiw-inside-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 80vh;
  /* padding: 10px; */
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--bg-s-secondary);
}

.post-preveiw-img-container {
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  /* width: 900px; */
  /* height: 100%; */
  /* height: 80vh; */
  height: 100%;
  width: 30vw;
  border-radius: 5px;
  background-color: var(--bg-s-third);
}

.post-preveiw-img-container img {
  /* width: 50vw; */
  @media screen and (max-width: 1300px) {
  }
  /* height: 80vh; */
  /* height: 100%; */
  width: 100%;
  object-fit: contain;
}

.post-preveiw-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 1300px) {
    width: 35vw;
  }
  width: 30vw;
  gap: 10px;
  padding: 15px 10px !important;
  border-radius: 15px;
  background-color: var(--bg-s-secondary);
}

.post-preveiw-close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.post-preveiw-info-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* width: 30vw; */
  gap: 10px;
  padding: 10px;
  height: 100%;
  /* border-radius: 15px; */
  /* background-color: var(--bg-s-secondary); */
}

.post-preveiw-info-container h1 {
  color: var(--text-pri);
  font-size: 1.3rem;
}

.post-preveiw-info-container p {
  color: var(--text-s-secondary);
  font-size: 1rem;
}

.post-preveiw-info-container img {
  width: 50px;
  height: 50px;
  border-radius: 30%;
  background-color: var(--bg-s-fourth);
  border: 5px var(--bg-s-fourth) solid;
}

.post-preveiw-user-info {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 0 10px;
  /* padding: 10px; */
  width: 100%;
  border-bottom: 2px solid var(--bg-s-third);
  padding-bottom: 10px;
}

.post-preveiw-post-content {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  width: 100%;
  flex-wrap: wrap;
  height: 230px;
  overflow-y: auto;
  /* gap: 10px; */
  /* padding: 10px; */
  padding-bottom: 10px;
  /* border-bottom: 2px solid var(--bg-s-third); */
}

.post-preveiw-post-content h2 {
  color: var(--text-s-primary);
  font-size: 1.1rem;
}

.post-preveiw-post-comments-container {
  display: flex;
  gap: 10px;
  background-color: var(--bg-s-secondary);
  height: 100%;
  width: 100%;
}

.post-preveiw-post-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 0 15px;
  /* padding: 10px; */
  padding-top: 15px;
  padding-bottom: 0;
  border-top: 2px solid var(--bg-s-fourth);
}

.post-preveiw-post-footer-icons {
  width: 100%;
  display: flex;
  gap: 0 10px;
}

.post-preveiw-post-footer-comment {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 0 10px;
  width: 100%;
}

.post-preveiw-post-footer-comment img {
  width: 40px;
  height: 40px;
  border-radius: 30%;
  background-color: var(--bg-s-fourth);
  border: 3px var(--bg-s-fourth) solid;
}

.post-preveiw-post-footer-comment input {
  width: 95%;
  padding: 12px;
  margin: 7.5px 0;
  border: none;
  border-radius: 15px;
  background-color: var(--bg-s-third);
  border: var(--bg-s-third) 1px solid;
  color: #fff;
}

.post-icon-with-numbers {
  display: flex;
  align-items: center;
  gap: 0 7px;
  position: relative;
}

.post-icon-with-numbers p {
  color: var(--text-s-secondary);
  font-size: 1rem;
  cursor: pointer;
}

.loader-box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  /* height: 100%; */
  margin: 40px;
}

.post-like-under-icon {
  position: relative;
  left: 0;
  z-index: 1;
  cursor: pointer;
  transition-duration: 10s;
  transition-timing-function: ease-in-out;
  transition-delay: 10s;
  transition-property: transform;
  visibility: hidden !important;
}

.post-like-animate {
  visibility: visible !important;
  animation-name: like-animation;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  /* animation-iteration-count: 1; */
  animation-fill-mode: forwards;
  animation-delay: 0s;
  animation-direction: normal;
}
.post-like-deanimate {
  visibility: visible !important;
  animation-name: like-animation;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  /* animation-iteration-count: 1; */
  animation-fill-mode: reverse;
  animation-delay: 0s;
  animation-direction: normal;
}

.post-like-upper-icon {
  position: absolute;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

@keyframes like-animation {
  0% {
    transform: scale(0.8) translateY(-30px);
    opacity: 0.1;
  }
  25% {
    transform: scale(0.9) translateY(-25px);
    opacity: 0.3;
    z-index: 3;
  }
  35% {
    transform: scale(1) translateY(-20px);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.05) translateY(-15px);
    opacity: 0.7;
    z-index: 2;
  }
  60% {
    transform: scale(1.1) translateY(-10px);
    opacity: 0.9;
  }
  75% {
    transform: scale(1.3) translateY(-5px);
    opacity: 1;
    z-index: 2;
  }
  80% {
    transform: scale(1.2) translateY(5px);
    opacity: 1;
  }
  85% {
    transform: scale(1.2) translateY(2px);
    opacity: 1;
  }
  100% {
    transform: scale(1.05) translate(0px);
    opacity: 1;
    z-index: 3;
  }
}

.post-like-heart-icon-left {
  position: absolute;
  left: 0;
  z-index: 3;
  cursor: pointer;
  width: 26px;
}

.post-like-heart-icon-right {
  position: absolute;
  z-index: 3;
  cursor: pointer;
  width: 26px;
}

.animate-left-heart {
  animation-name: heart-animation-left;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  /* animation-iteration-count: 1; */
  animation-fill-mode: forwards;
  animation-delay: 0s;
  animation-direction: normal;
}

.animate-right-heart {
  animation-name: heart-animation-right;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  /* animation-iteration-count: 1; */
  animation-fill-mode: forwards;
  animation-delay: 0s;
  animation-direction: normal;
}

@keyframes heart-animation-left {
  0% {
    transform: scale(1) translateY(0px) translateX(0px) rotate(-5deg);
    opacity: 1;
  }
  25% {
    transform: scale(0.9) translateY(5px) translateX(-7px) rotate(-10deg);
    opacity: 0.9;
    z-index: 3;
  }
  35% {
    transform: scale(0.8) translateY(10px) translateX(-9px) rotate(-15deg);
    opacity: 0.8;
  }
  50% {
    transform: scale(0.7) translateY(15px) translateX(-10px) rotate(-17deg);
    opacity: 0.7;
    z-index: 2;
  }
  60% {
    transform: scale(0.7) translateY(17px) translateX(-11px) rotate(-20deg);
    opacity: 0.6;
  }
  75% {
    transform: scale(0.7) translateY(20px) translateX(-12px) rotate(-25deg);
    opacity: 0.4;
    z-index: 2;
  }
  85% {
    transform: scale(0.7) translateY(22px) translateX(-13px) rotate(-30deg);
    opacity: 0.2;
  }
  100% {
    transform: scale(0.7) translateY(22px) translateX(-13px) rotate(-30deg);
    opacity: 0;
    display: none;
  }
}

@keyframes heart-animation-right {
  0% {
    transform: scale(1) translateY(0px) translateX(0px) rotate(5deg);
    opacity: 1;
  }
  25% {
    transform: scale(0.9) translateY(5px) translateX(7px) rotate(10deg);
    opacity: 0.9;
    z-index: 3;
  }
  35% {
    transform: scale(0.8) translateY(10px) translateX(9px) rotate(15deg);
    opacity: 0.8;
  }
  50% {
    transform: scale(0.7) translateY(15px) translateX(10px) rotate(17deg);
    opacity: 0.7;
    z-index: 2;
  }
  60% {
    transform: scale(0.7) translateY(17px) translateX(11px) rotate(20deg);
    opacity: 0.6;
  }
  75% {
    transform: scale(0.7) translateY(20px) translateX(12px) rotate(25deg);
    opacity: 0.4;
    z-index: 2;
  }
  85% {
    transform: scale(0.7) translateY(22px) translateX(13px) rotate(30deg);
    opacity: 0.2;
  }
  100% {
    transform: scale(0.7) translateY(22px) translateX(13px) rotate(30deg);
    opacity: 0;
    display: none;
  }
}
