@import "../index.css";

.profile {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  margin-top: 15px;
  height: 100vh;
  overflow-y: hidden;
  /* padding-top: 35px; */
}

.profile-container {
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  padding-top: 35px;
  width: 70%;
  gap: 0 30px;

  @media (max-width: 700px) {
    width: 100%;
  }

  /* flex-wrap: wrap; */
  /* @media (max-width: 600px) {
    max-width: 100%;
  } */
  /* height: 100vh; */
  /* height: 91vh; */
}

.profile-head-container {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  /* height: 40vh; */
  /* width: 100%; */
  width: 35vw;

  @media (max-width: 1400px) {
    width: 100vw;
  }
  /* flex-grow: 1; */
  border-radius: 15px;
  overflow: hidden;
}

.profile-head-container-inner {
  display: flex;
  flex-direction: column;
  /* gap: 10px 0; */
  /* height: 40vh; */
  /* width: 100%; */
  /* width: 34vw; */

  @media (max-width: 1000px) {
    width: 100%;
  }
  /* flex-grow: 1; */
  border-radius: 15px;
  overflow: hidden;
}

.profile-body-container {
  display: flex;
  /* padding: 10px; */
  /* justify-content: center; */
  /* padding-bottom: 20px; */
  width: 50%;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 81vh;

  @media (max-width: 1400px) {
    display: none;
  }
}

.user-profile-cover {
  width: 100%;
  height: 45vh;
  /* object-fit: cover; */
  background-color: var(--bg-s-third);
  overflow: hidden;
}

.user-profile-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-header-body {
  position: relative;
  display: flex;
  gap: 20px;
  /* flex-wrap: wrap; */
  padding: 10px 0;
  padding-left: 20px;
  /* justify-content: center; */
  align-items: center;
  background-color: var(--bg-s-secondary);
}

.user-profile-header-body-img {
  width: 130px;
  height: 130px;
  border-radius: 30%;
  border: 5px solid var(--bg-s-third);
  position: absolute;
  top: -50px;
  left: 0;
  margin-left: 20px;

  @media (max-width: 700px) {
    width: 110px;
    height: 110px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0;
  }
  overflow: hidden;
}

.user-profile-header-body-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

/* .user-header-body img {
  width: 140px;
  object-fit: cover;
  border-radius: 30%;
  border: 5px solid var(--bg-s-third);
  position: absolute;
  top: -50px;
  left: 0;
  margin-left: 20px;

  @media (max-width: 700px) {
    width: 110px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0;
  }
} */

.user-header-info {
  display: flex;
  align-items: center;
  /* flex-grow: 1; */
  /* width: 100%; */
  width: 100%;
  height: 100%;
  background-color: var(--bg-s-secondary);
  /* padding-right: 20px; */
  padding-left: 165px;
  padding-bottom: 10px;
  justify-content: space-between;
  margin-right: 25px;

  @media (max-width: 700px) {
    padding-top: 60px;
    padding-left: 5px;
    padding-bottom: 15px;
  }
}

.user-header-info-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px 0;
  width: 100%;
  height: 100%;
}
.user-header-info-left h1 {
  color: var(--color-secondary);
  font-size: 1.5rem;
  font-weight: 500;
}
.user-header-info-left p {
  color: var(--text-s-secondary);
  font-size: 0.8rem;
  font-weight: 100;
}

.user-header-info-numbers {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.user-header-info-numbers p {
  font-weight: 900;
  font-size: 1rem;
  cursor: pointer;
}

.profile-container-inner {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  width: 100%;
  height: 100%;
}

.user-header-info-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 10px;
  padding: 10px;
  @media screen and (max-width: 700px) {
    width: 90px;
  }
  width: 200px;
  border-radius: 15px;
  border: 2px solid var(--color-secondary);
  color: var(--color-secondary);
  font-weight: 900;
  cursor: pointer;
  background-color: var(--bg-s-secondary);
  font-size: 1rem;
  font-weight: 900;
}

.user-header-info-btn span {
  @media (max-width: 700px) {
    display: none;
  }
}

.user-header-info-btn:hover {
  background-color: var(--bg-s-third);
  color: var(--text-s-primary);
}

.user-profile-options {
  display: flex;
  align-items: center;
  gap: 0 15px;
  width: 100%;
  padding: 0 15px;
  /* padding: 15px; */
  /* height: 45px; */
  border-top: 1px solid var(--bg-s-third);
  background-color: var(--bg-s-secondary);
}
.user-profile-options p {
  color: var(--text-s-secondary);
  font-size: 1rem;
  font-weight: 900;
  cursor: pointer;
  padding: 15px 0;
}
.user-profile-options-clicked {
  color: var(--color-secondary) !important;
  border-bottom: 2px solid var(--color-secondary);
}

.user-profile-options-icon {
  margin-left: auto;
}

.user-profile-bio {
  color: var(--text-s-secondary);
  font-size: 1.2rem;
  font-weight: 900;
  text-align: center;
  margin-top: 10px;
}

.skills-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px 0;
  padding: 10px 10px;
  border-radius: 15px;
  border: 5px solid var(--bg-s-secondary);
}
.skills-container p {
  color: var(--text-s-primary);
  color: var(--color-secondary);
  font-size: 1rem;
  /* padding: 10px; */
  border-radius: 15px;
  margin: 5px 0;
  margin-left: 5px;
  font-weight: 900;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;

  /* padding: 10px; */
}

.skills h1 {
  color: var(--text-s-secondary);
  font-size: 0.9rem;
  padding: 7px 10px;
  background-color: var(--bg-s-secondary);
  border-radius: 15px;
  /* margin-bottom: 10px; */
}

.photos-container {
  display: flex;
  flex-direction: column;
  /* gap: 20px 0; */
  width: 100%;
  border-radius: 15px;
  border: 5px solid var(--bg-s-secondary);
  padding-bottom: 5px;
}

.photos-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
  width: 100%;
  padding: 10px;
}
.photos-header h1 {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--color-secondary);
}
.photos-header h2 {
  font-size: 0.9rem;
  font-weight: 100;
  color: var(--color-secondary);
  cursor: pointer;
}

.profile-photos-body {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;
  width: 100%;
  padding: 5px 10px;
  /* height: 100%; */
  /* overflow-y: hidden; */
  /* overflow-x: hidden; */
  /* border-radius: 15px; */
  /* border: 5px solid var(--bg-s-secondary); */
}

.profile-photos-body img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.profile-followers-container {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  width: 100%;
  border-radius: 15px;
  border: 5px solid var(--bg-s-secondary);
}

.profile-followers-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
  width: 100%;
  padding: 10px;
}

.profile-followers-header h1 {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--color-secondary);
}

.profile-followers-header h2 {
  font-size: 0.9rem;
  font-weight: 100;
  color: var(--color-secondary);
  cursor: pointer;
}

.profile-people-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  flex-wrap: wrap;
}

.user-profile-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 15px;
  border: 5px solid var(--bg-s-secondary);
  gap: 10px 0;
}

.user-profile-image-container {
  width: 70px;
  object-fit: cover;
  border-radius: 15px;
  /* border: 5px solid var(--bg-s-secondary); */
}

.no-people {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--color-secondary);
  font-size: 1.2rem;
  font-weight: 900;
}

.feed-post-create {
  display: flex;
  padding: 15px;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-between; */
  gap: 10px;
  width: 100%;
  padding: 10px;
}

.feed-post-create input {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid var(--bg-s-secondary);
  background-color: var(--bg-s-secondary);
}

.feed-post-create-option {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 10px;
  cursor: pointer;
  background-color: var(--bg-s-secondary);
  padding: 10px;
  border-radius: 15px;
  height: 40px;
  width: 120px;
}

.feed-post-create-option h1 {
  font-size: 1.1rem;
  font-weight: 900;
  color: var(--color-secondary);
}

.feed-post-create-option div {
  display: flex;
  align-items: center;
  gap: 0 10px;
}

.feed-in-profile-container {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  width: 100%;
  /* height: 120%; */
  border-radius: 15px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.feed-in-profile {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  width: 100%;
  border-radius: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.profile-photos-element {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  gap: 10px 0;
  width: 100%;
  border-radius: 15px;
  overflow-x: hidden;
}

.profile-photos-container {
  display: grid;
  /* justify-content: center; */
  /* align-items: center; */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-rows: wrap;
  gap: 5px;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.profile-photos-container img {
  /* width: 167px; */
  /* height: 167px; */
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.profile-edit-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* margin-top: 5px; */
  flex-direction: column;
  gap: 15px 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.profile-edit-container h1 {
  color: var(--color-secondary);
  font-size: 1.7rem;
  font-weight: 900;
}

.profile-edit-left {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  width: 35vw;
  /* border-radius: 15px; */
}

.profile-edit-body {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  /* padding: 30px; */
  padding: 0 20px;
}

.profile-edit-photos {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 20px 0;
  width: 100%;
  border-radius: 15px;

  position: relative;
}

.profile-edit-cover {
  position: relative;
  width: 100%;
  height: 35vh;
  border-radius: 15px;
  background-color: var(--bg-s-third);
}

.profile-edit-img {
  position: relative;
  width: 10vw;
  height: 10vw;
  border-radius: 15px;
}

.profile-edit-photos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.skills-add {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 35vw;
  height: 21.3vh;
  /* align-items: center; */
  padding: 10px;
  border-radius: 15px;
  border: 5px solid var(--bg-s-secondary);
  color: var(--color-secondary);
  font-weight: 900;
  cursor: pointer;
  font-size: 1rem;
  overflow: hidden;
}

.skills-header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* width: 50%; */
  gap: 10px;
  /* padding: 10px; */
  flex-wrap: wrap;
  /* padding: 10px; */
  /* overflow-y: scroll; */
}

.skills-header h1 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-secondary);
  line-height: 1.2;
  background-color: var(--bg-s-third);
  padding: 7px;
  border-radius: 15px;
}

.skills-add input {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid var(--bg-s-secondary);
  background-color: var(--bg-s-third);
  color: var(--text-s-primary);
}

.skills-inputs {
  display: flex;
  gap: 0 10px;
  align-items: center;
}

.profile-edit-img-btn-icon {
  position: absolute;
  bottom: -7px;
  right: -10px;
  background-color: var(--bg-s-primary);
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.edit-images-text {
  position: absolute;
  bottom: 0;
  right: -155px;
  color: var(--text-s-secondary);
  font-size: 0.8rem;
  font-weight: 900;
  cursor: pointer;
}
.edit-images-text-cover {
  position: absolute;
  bottom: -25px;
  right: 0;
  color: var(--text-s-secondary);
  font-size: 0.8rem;
  font-weight: 900;
  cursor: pointer;
}

.edit-skill-remove {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: var(--text-s-secondary);
  font-size: 0.8rem;
  font-weight: 400;
  cursor: pointer;
}

.profile-edit-right {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  width: 35vw;
  padding: 0 15px;
  /* border-radius: 15px; */

  @media screen and (max-width: 1300px) {
    width: 70vw;
  }
}

.profile-edit-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.profile-edit-input {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  width: 100%;
}

.profile-edit-input-names {
  display: flex;
  gap: 10px;
}

.profile-edit-input input {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid var(--bg-s-secondary);
  background-color: var(--bg-s-third);
  color: var(--text-s-primary);
  font-size: 1.2rem;
}

.profile-edit-input label {
  color: var(--color-secondary);
  font-size: 1rem;
  font-weight: 900;
}

.profile-edit-right button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 10px;
  padding: 10px;
  border-radius: 15px;
  /* border: none; */
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
  font-weight: 900;
  cursor: pointer;
  background-color: var(--bg-s-secondary);
  font-size: 1rem;
  margin-top: 20px;
}

.profile-edit-header-close {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 0 5px; */
  position: absolute;
  /* top: 10px; */
  right: 0;
  margin-right: 15vw;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: var(--bg-s-secondary);
  border: 1px solid var(--color-secondary);
  cursor: pointer;
}

.profile-edit-header-close h1 {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--color-secondary);
  cursor: pointer;
}

.go-back {
  position: absolute;
  left: 0;
  margin-left: 7vw;
  @media screen and (max-width: 900px) {
    top: 80px;
  }
  /* margin-bottom: 20px; */
}

.profile-people-element {
  display: flex;
  /* justify-content: space-evenly; */
  /* align-items: center; */
  align-items: flex-start;
  gap: 10px;
  width: 500px;
  height: 100%;
  border: 5px solid var(--bg-s-secondary);
  padding: 15px;
  border-radius: 15px;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
}

.person {
  display: flex;
  gap: 5px;
  align-items: center;
  /* justify-content: center; */
  background-color: var(--bg-s-secondary);
  padding: 10px;
  border-radius: 15px;
  width: 220px;
  overflow: hidden;
  /* width: 50%; */
}

.person img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 15px;
}

.person-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.person-info h1 {
  font-size: 0.7rem;
  font-weight: 900;
  color: var(--text-pri);
}

.person-info p {
  font-size: 0.6rem;
  font-weight: 100;
  color: var(--text-s-secondary);
}
