@import "../index.css";

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 1100px; */
  /* height: 750px; */
  /* background-color: #b56d6d !important; */
  width: 75%;
  height: 90vh;
  border-radius: 20px;
  overflow: hidden;
  gap: 0;
  box-shadow: 0 0 10px 0 #000;
  @media screen and (max-width: 850px) {
    width: 90%;
  }
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  background-color: var(--bg-s-third);
  /* width: 70vw; */
  width: 50%;
  height: 100%;
  /* padding: 60px; */
  padding: 60px 3.5vw;

  @media screen and (max-width: 850px) {
    width: 100%;
  }
}

.register-form input {
  width: 100%;
  padding: 0.9vh;
  margin: 7.5px 0;
  border: none;
  border-radius: 15px;
  background-color: rgb(29, 29, 29);
  border: #393939 1px solid;
  color: #fff;
}
.register-form input:focus {
  outline: none;
}

.half {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 0 10px;
}

.half input {
  width: 50%;
  /* margin: 0 10px; */
}

label {
  color: rgb(124, 124, 124);
  font-size: 0.75rem;
  margin: 10px 0;
}

.register-date-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0 10px;
}

.register-date-container select {
  width: 33%;
  padding: 0.8vh 0.6vw;
  margin: 7.5px 0;
  border: none;
  border-radius: 15px;
  background-color: rgb(29, 29, 29);
  border: #393939 1px solid;
  color: #fff;
}

.radio-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 10px;
  width: 100%;
  margin: 7.5px 0;
}

.radio-select {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8.3vw;
  gap: 0 2vw;
  @media screen and (max-width: 1300px) {
    width: 20vw;
    gap: 0 1vw;
  }
  padding-left: 10px;
  border: none;
  border-radius: 15px;
  background-color: rgb(29, 29, 29);
  border: #393939 1px solid;
  color: #fff;
}

.radio-select h3 {
  font-size: 0.9rem;
  /* margin-left: 10px; */
  @media screen and (max-width: 1000px) {
    font-size: 0.7rem;
  }
  font-weight: 400;
  margin-left: 5px;
  /* color: #fff; */
}

.register-form p {
  margin: 0.5vh 1vw;
  font-size: 0.7rem;
  color: var(--color-secondary);
  text-align: center;
}
.register-form a {
  color: var(--color-primary);
}

.register-button {
  width: 100%;
  padding: 10px;
  margin: 7.5px 0;
  border: none;
  border-radius: 15px;
  background-color: var(--color-primary);
  color: #000000;
  font-size: 1.1rem;
  cursor: pointer;
}

.logo-register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 135px;
  /* padding-top: 60px; */
}

.logo-register img {
  /* width: 90px; */
  @media screen and (max-height: 700px) {
    width: 8vh;
  }
  @media screen and (max-height: 650px) {
    display: none;
  }
  width: 10vh;

  /* margin-bottom: 27px; */
  margin-bottom: 3vw;
}

/* .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 0 5px;
}

.buttons button {
  width: 48%;
  padding: 9px 6px;
  border-radius: 10px;
  background-color: #3c3c3c;
  color: #000000;
  font-size: 1.1rem;
  cursor: pointer;
  border: rgb(104, 104, 104) 1px solid;
} */

.reg-error {
  border: 2px solid var(--red-color) !important;
}

.register-error-date {
  border: 2px solid var(--red-color) !important;
}

.register-error-gender {
  border: 2px solid var(--red-color) !important;
}

.alert-success-register {
  background-color: var(--color-secondary);
  color: #000000;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  text-align: center;
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: 0;
  padding: 15px;
  margin-right: 20px;
  margin-bottom: 20px;
  visibility: hidden;

  @media screen and (max-width: 850px) {
    padding: 0.7rem;
    width: 70%;
  }

  /* height: 60px; */
}
.alert-fail-register {
  background-color: #b91c1c;
  color: #000000;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  text-align: center;
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: 0;
  padding: 15px;
  margin-right: 20px;
  margin-bottom: 20px;
  visibility: hidden;
  font-weight: 500;

  @media screen and (max-width: 850px) {
    padding: 0.7rem;
    width: 50%;
  }

  /* height: 60px; */
}

.show-register-alert {
  visibility: visible;
}
.show-register-alert-fail {
  visibility: visible;
}
